<!DOCTYPE html>
<html>
    <head>
        <title>Group 12 Project</title>
        
    </head>
    <body>
        <h1>About</h1>
        <h3>Description</h3>
        <p>A growing Movies and Actors database</p>
        <ul>
            <li>MovieID - ID of the movie</li>
            <li>Title - Title of the movie</li>
            <li>MPAA_Rating - Rating provided for the movie</li>
            <li>Budget - Budget for the movie</li>
            <li>Release_date - Release Date of the movie</li>
            <li>Genre - Genre of the movie</li>
        </ul>
    </body>
</html>